table, th, td {
    border: 1px solid black;
  }
  .search{
      padding-bottom: 20px;
  }
  .customs{
      padding-bottom: 20px;
  }
  .verwijderDiv{
      padding-bottom: 20px;
      padding-top: 20px;
  }