<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1>Judo Technieken</h1>
    <form class="example" action="/action_page.php">
        <input type="text" placeholder="Zoek techniek.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>

      <form class="example" action="/action_page.php">
        <input type="text" placeholder="Zoek techniek.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>

    <div class="search">
        <input [(ngModel)]="KrijgId" type="number" min="0" (input)="Zoek()">
        <button (click)="KrijgAlles()">KRIJG ALLES</button> 
    </div>

    <div class="customs">
        <label for="paginas">Pagina: </label>
        <select  class="form-control" id="paginas" [(ngModel)]="paginaNummer">
            <option value="0">pagina 1</option>
            <option value="1">pagina 2</option>
            <option value="2">pagina 3</option>
            <option value="3">pagina 4</option>
            <option value="4">pagina 5</option>
        </select>
        <button (click)="KrijgPagina()">GA</button>
    
    
    </div>
    
    <div>
        <input [(ngModel)]="filterText" type="text">
        <button (click)="KrijgFilter()">FILTER</button>
    </div>
        <input value="true" type="radio" id="naam" name="gender" value="male" [(ngModel)]="naamChecked">
        <label for="male">Naam</label><br>
        <input type="radio" id="moeilijkheidsgraad" name="gender" value="female" [(ngModel)]="moeilijkheidsgraadChecked">
        <label for="female">Moeilijkheidsgraad</label><br>
        <input type="radio" id="type" name="gender" value="other" [(ngModel)]="typeChecked">
        <label for="other">Type</label>
    
    <div class="verwijderDiv">
        <input [(ngModel)]="verwijderId" type="number" min="0">
        <button (click)="VerwijderTechniek()">VERWIJDER TECHNIEK</button> 
    </div>
    

    <div>
        <table *ngIf="tabel1">
            <tr>
                <th>TechniekId</th>
                <th>Naam</th>
                <th>Type</th>
                <th>Moeilijkheidsgraad</th>
                <th>URL</th>
                <th>Gordel</th>
                <th>TechniekPersonen</th>
            </tr>
            <tr>
                <td>{{KrijgId}}</td>
                <td>{{naam}}</td>
                <td>{{type}}</td>
                <td>{{moeilijkheidsgraad}}</td>
                <td>url</td>
                <td>gordel</td>
                <td>techniekPersonen</td>
            </tr>
        </table>
    </div>

    <div>
        <table *ngIf="tabel2">
            <tr>
                <th>TechniekId</th>
                <th>Naam</th>
                <th>Type</th>
                <th>Moeilijkheidsgraad</th>
                <th>URL</th>
                <th>Gordel</th>
                <th>TechniekPersonen</th>
            </tr>
            <tr *ngFor="let data of lijstTechnieken">
                <td>{{data.techniekId}}</td>
                <td>{{data.naam}}</td>
                <td>{{data.type}}</td>
                <td>{{data.moeilijkheidsgraad}}</td>
                <td>data.url</td>
                <td>data.gordel</td>
                <td>data.techniekPersonen</td>
            </tr>
        </table>
    </div>
    <input value="nothign" type="text">
    <button (click)="DataToevoegen()">POST</button>
    <button (click)="inloggen()">LOGIN</button>
</body>
</html>







